.photo-grid {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin: 0 auto;
    gap: 16px;
    place-items: center;
    max-width: 1184px;
    padding: 0 20px 0;
    box-sizing: border-box;
}

@media screen and (max-width:1200px ) {
    .photo-grid {
        grid-template-columns: repeat(3, 33%);
        gap: 14px;
        max-width: 928px;
    }    
}


@media screen and (max-width:850px ) {
    .photo-grid {
        grid-template-columns: repeat(2, 50%);
        gap: 16px;
        max-width: 720px;
    }    
}

@media screen and (max-width: 480px ) {
    .photo-grid {
        grid-template-columns: repeat(1, 100%);
        gap: 16px;
        
    }    
}