.places {
    /*indentetion and sizing*/
    margin: var(--basicMargin);
}

@media screen and (max-width: 896px) {
    .places {
        margin: var(--margin896px);
    }
    
}

@media screen and (max-width: 544px) {
    .places {
        margin: var(--margin544px);
    }
    
}