.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    height: 52px;
    padding: 2% 4% 0 4%;
}

@media screen and (max-width: 400px) {
    .header {
        height: 42px;
    } 
}

@media screen and (min-width: 1800px) {
    .header { 
        height: 62px;
    }
}