.intro__text {
    /*style*/
    color: white;
    font-size: 1em;
    line-height: 1.6;
    font-weight: 400;

    /*indention and sizing*/
    max-width: 690px;
    margin: 40px 0 33px;
}

/*@media screen and (max-width: 896px) {
    .intro__text {
        max-width: var(--maxWidth896px);
        margin: 40px 24px 33px 0;
    }
}

@media screen and (max-width: 544px) {
    .intro__text {
        max-width: var(--maxWidth544px);
        margin: 40px 16px 33px 0;
    }
}