.cover__overlay {
    content:'';
    background: #2a2c2f;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    transition: var(--transitionTime);
}

.cover__overlay:hover {
    opacity: .8;
}