.places__place__paragraphs__paragraph {
    color: white;
    font-size: 1.1rem;
    line-height: 1.63;
    font-weight: 400;
    margin: 0 0 26px 0;
}

.places__place__paragraphs__paragraph: :nth-last-child() {
    margin: 0;
}